<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577479281252-amv2frha7tkft081o0ivea53lrehg60i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577479281252-amv2frha7tkft081o0ivea53lrehg60i</string>
	<key>API_KEY</key>
	<string>AIzaSyDCZEwcasRQEZiLsgVHr6BZm58TBmK4fgI</string>
	<key>GCM_SENDER_ID</key>
	<string>577479281252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.justmeet</string>
	<key>PROJECT_ID</key>
	<string>justmeet-b4966</string>
	<key>STORAGE_BUCKET</key>
	<string>justmeet-b4966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577479281252:ios:0259b9e7e02265c7ef2d71</string>
	<key>DATABASE_URL</key>
	<string>https://justmeet-b4966.firebaseio.com</string>
</dict>
</plist>